@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
    0%, 100% {
      opacity: 1;
      transform: scale(1);
      letter-spacing: 10px;
    }
    50% {
      opacity: 0.5;
      transform: scale(0.95);
      letter-spacing:5px;
    }
  }
  
.pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
  